{% extends 'SoftwareSnippets/base.html' %}

{% load staticfiles %}
{% load pygment_style %}

{% block stylesheets %}
{{ block.super }}
<style>
	{% pygment_style %}
</style>
<link rel="stylesheet" href="{% static "snippets/css/style.css" %}" />
{% endblock stylesheets %}

{% block content %}
{{ block.super }}

{% for snippet in snippets %}
<div class="row snippetRow panel radius">
	<div class="small-12 columns">
		<h3 class="snippetTitle"><a href="#">{{ snippet.title }}</a></h3><br />
		<div class="row">
			<div class="small-12 columns">
				<div class="panel radius navigation codeContainer">
					{{ snippet.code_formatted | safe }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns"><br />
				<h3 class="snippetDescriptionHeader">Description</h3><br />
				<p class="snippetDescription">{{ snippet.description }}</p>
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock content %}
