<html>
	<head>
	{% load staticfiles %}

	<!-- metadata start -->
	{% block meta %}{% endblock meta %}
	<!-- metadata end -->

	<!-- stylesheets start -->
	{% block stylesheets %}
		{% include 'SoftwareSnippets/stylesheets.html' %}
	{% endblock stylesheets %}
	<!-- stylesheets end -->
	</head>

	<body>
	<!-- header start -->
	{% block header %}
		{% include 'SoftwareSnippets/header.html' %}
	{% endblock header %}
	<!-- header end -->

	<!-- content start -->
	{% block content %}{% endblock content %}
	<!-- content end -->

	<!-- footer start -->
	{% block footer %}
		{% include 'SoftwareSnippets/footer.html' %}
	{% endblock footer %}
	<!-- footer end -->

	<!-- javascripts start *load last for faster load times* -->
	{% block javascripts %}
		{% include 'SoftwareSnippets/javascripts.html' %}
	{% endblock javascripts %}
	<!-- javascripts end -->
	</body>
</html>